<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MaintenancePlanMapper">
    <update id="update">
        update maintenance_plan
        <set>
            <if test="maintenanceman != null and maintenanceman != ''">
                maintenanceman = #{maintenanceman},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="info != null and info != ''">
                info = #{info},
            </if>
            <if test="completeTime != null">
                completeTime = #{completeTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="list" resultType="com.example.pojo.MaintenancePlan">
        select *
        from maintenance_plan
        <where>
            <if test="section != null and section != ''">
                section = #{section}
            </if>
            <if test="start != null and end != null">
                and plannedTime between #{start} and #{end}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="spec != null and spec != ''">
                and spec like concat('%', #{spec}, '%')
            </if>
            <if test="maintenanceman != null and maintenanceman != ''">
                and maintenanceman like concat('%', #{maintenanceman}, '%')
            </if>
        </where>
        Order by plannedTime
    </select>
</mapper>
