<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MaterialQualityMapper">
    <select id="list" resultType="com.example.pojo.MaterialQuality">
        select *
        from material_quality
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="spec != null and spec != ''">
                and spec like concat('%', #{spec}, '%')
            </if>
        </where>
        Order by name, spec
    </select>
    <select id="search" resultType="com.example.pojo.Value">
        select distinct ${field} as value from material_quality
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="spec != null and spec != ''">
                and spec = #{spec}
            </if>
        </where>
        order by value
    </select>
</mapper>